*{box-sizing: border-box;}

body {
    background-color: #2b2b2b !important;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: FF1;
    src: url(fonts/WorkSans/static/WorkSans-Bold.ttf);
  }
  @font-face {
    font-family: FF2;
    src: url(fonts/WorkSans/static/WorkSans-Regular.ttf);
  }
  @font-face {
    font-family: FF3;
    src: url(fonts/spacemonro/SpaceMono-Bold.ttf);
  }
  @font-face {
    font-family: FF4;
    src: url(fonts/spacemonro/SpaceMono-Regular.ttf);
  }

  @media screen and (max-width: 768px) {
    .h-3 {
      color: var(--white, #FFF);
      font-family: FF1 !important;
      font-size: 28px !important;
      font-style: normal !important;
      font-weight: 600 !important;
      line-height: 140% !important;
      text-transform: capitalize !important;
    }
  }
  @media screen and (max-width: 768px) {
    .h-7 {
      color: var(--white, #FFF);
      font-family: FF1 !important;
      font-size: 28px !important;
      font-style: normal !important;
      font-weight: 600 !important;
      line-height: 140% !important;
      text-transform: capitalize !important;
    }
  }

  @media screen and (max-width: 768px) {
    .p16 {
      color: var(--white, #FFF);
      font-family: FF1 !important;
      font-size: 16px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 140% !important;
      text-transform: capitalize !important;
    }
  }
  .nav-link {
    color: #FFF !important;; 
    text-align: center; 
    font-family: FF2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    }
  .bt1 {
    display: flex;
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    color: #FFF;
    border: none;
    }
    .bt2 {
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    }
    .bt3 {
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFF;
    background: var(--background, #2B2B2B);
    border: 2px solid var(--call-to-action, #A259FF);
    }
    .bt4 {
    border-radius: 20px;
    border: none;
    background: var(--text, #FFF);
    color: var(--background, #2B2B2B);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    width: 198px;
    height: 55px;
    }
    .bt5 {
    width: 211px;
    height: 60px;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    border: none;
    }
    .h-1 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; 
    text-transform: capitalize;
    }
    .h-2 {
      color: var(--white, #FFF);
      font-family: FF1;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      text-transform: capitalize;
    } 
    .h-3 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    text-transform: capitalize;
    }
    .h-4 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    text-transform: capitalize;
    }
    .h-5 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    }
    .h-6 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    }
    .h-7 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    }
    .p1 {
      margin-top: 20px;
    color: var(--white, #FFF);
    font-family: FF2;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    text-transform: capitalize;
    }
    .p2 {
    color: var(--white, #FFF);
    font-family: FF3;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    }
    .p3 {
    color: var(--white, #FFF);
    font-family: work sans;
    font-size: 21px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    text-transform: capitalize;
    }
    .p4 {
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p5 {
    color: var(--white, #FFF);
    font-family: FF2;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    text-transform: capitalize;
    }
    .p115 {
      color: var(--white, #FFF);
      font-family: FF2;
      font-size: 17px;
      font-style: normal;
      font-weight: 400; 
      padding: 0;
      margin: 0;
      }
    .p6 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: capitalize;
    margin: 0;
    }
    .p7 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p8 {
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    }
    .p9 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin: 0;
    margin-top: 20px;
    }
    .p10 {
    color: var(--caption-label-text, #858584);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 5px;
    }
    .p11 {
    color: #FFF;
    font-family: FF1;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: capitalize;
    margin: 0;
    }
    .p12 {
    color: var(--caption-label-text, #858584);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p13 {
    color: var(--white, #FFF);
    font-family: FF2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    }
    .p14 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: capitalize; 
    }
    .p15 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    }
    .p16 {
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    text-transform: capitalize;
    margin: 0;
    }
    .p17 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: capitalize;
    margin: 0;
    }
    .p18 {
    color: var(--white, #FFF);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    margin: 0;
    }
    .p19 {
    color: #858584;
    font-family: Space Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin: 0; 
    }
    .p20 {
    color: var(--white, #FFF);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    padding-top: 5px;
    }
    .p21 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p22 {
    color: var(--text, #FFF);
    font-family: FF2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    }
    .p23 {
    color: var(--text, #FFF);
    font-family: FF3;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
    }
    .p24 {
    color: var(--text, #FFF);
    font-family: Space Mono;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    text-transform: capitalize;
    }
    .p25 {
    color: var(--text, #FFF);
    font-family: FF4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    }
    .p26 {
    color: #FFF;
    font-family: FF4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p27 {
    color: #FFF;
    font-family: FF1;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    text-transform: capitalize;
    }
    .p28 {
    color: var(--text, #FFF);
    font-family: Space Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    }
    .p29 {
    color: var(--text, #FFF);
    font-family: Space Mono;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    text-transform: capitalize;
    }
    .p30 {
    color: var(--text, #FFF);
    font-family: Space Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    }
    .p31 {
    color: #FFF;
    text-align: center;
    font-family: FF1;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: capitalize;
    }
    .p32 {
    color: var(--white, #FFF);
    text-align: center;
    font-family: FF2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p33 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: capitalize;
    }
    .p34 {
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p35 {
    color: #FFF;
    font-family: FF1;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    }
    .p36 {
    color: var(--white, #FFF);
    font-family: FF2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    }
    .p37 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
    }
    .p38 {
    color: var(--white, #FFF);
    font-family: FF2;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    text-transform: capitalize;
    }
    .p39 {
    color: var(--white, #FFF);
    font-family: FF1;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: capitalize;
    }
    .p40 {
    color: var(--white, #FFF);
    font-family: FF2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p41 {
    color: #FFF;
    font-family: FF3;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; 
    text-transform: capitalize;
    }
    .p42 {
    color: #CCC;
    font-family: FF4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    }
    .p43 {
    color: #CCC;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    }
    .sp1 {
    color: var(--text, #FFF);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-left: 5px;
    }
    .sp2 {
    color: var(--text, #FFF);
    font-family: FF4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    padding-left: 5px;
    }
    .box11 {
      border-radius: 20px;
      background: #3B3B3B;
      width: 315px;
      height: 100px;
    }
    .box18 {
      background-color: #3B3B3B;
      border-radius: 20px 20px 20px 20px;
    }
    .box24 {
      background-image: url(img/NFTInfo.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 750px;
    }
    .box25 {
      width: 151px;
      height: 44px;
      border-radius: 20px;
      background: #3B3B3B;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .box26 {
      background-color: rgba(59, 59, 59, 0.5);
      border-radius: 20px;
      height: 150px;
    }
    .box28 {
      background-image: url(img/NFTbgmobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 595px;
    }
    .box29 {
      width: 151px;
      height: 44px;
      border-radius: 20px;
      background-color: #3B3B3B;
    }
    .box31 {
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.50);
    backdrop-filter: blur(5px);
    width: 315px;
    height: 147px;
    }
    .box36 {
    height: 439px;
    border-radius: 20px;
    background: var(--background-secondary, #3B3B3B);
    }
    .box37 {
      height: 157px;
    border-radius: 20px;
    background: var(--background-secondary, #3B3B3B);
    }
    .box38 {
      height: 430px;
      border-radius: 20px;
      background-color: #3B3B3B;
    }
    .inp1 {
      width: 390px;
      height: 60px;
      padding-left: 15px;
      box-shadow: none;
      border-radius: 20px;
      background: var(--text, #FFF);
      border: none;
    }





    

    